@import "fonts/ProductSans.css";

body {

  margin: 0;
  font-family: 'ProductSans', arial, sans-serif;
  background-color: #eee;

}

::selection {

  background: #1a73e8;
  color: #fff;

}

::-moz-selection {

  background: #1a73e8;
  color: #fff;

}

::-webkit-scrollbar {

  width: 7px;

}

::-webkit-scrollbar-track {

  background-color: rgba(0, 0, 0 , 0);

}

::-webkit-scrollbar-thumb {

  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;

}

nav {

  background-color: #1a73e8;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 1000;
  padding: 13px 30px 13px 30px;
  -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.23);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.23);

}

nav .menu-trigger {

  color: #fff;
  font-size: 25px;
  text-decoration: none;
  margin: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50% 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

nav .menu-trigger i {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

nav h1 {

  color: #fff;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  margin: 0 0 0 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

nav h1 img {

  width: 17px;
  height: 17px;
  top: 100%;
  transform: translateY(15%);

}

.sidenav {

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 85px;
  transition: 0.5s;
  -webkit-transition: 0.5s;

}

.sidenav a {

  display: block;
  color: #5f6368;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 5px 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;

}

.sidenav a:hover {

  background-color: #e0e0e0;
  transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;

}

.sidenav a i {

  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;

}

.sidenav a span {

  display: inline-block;
  vertical-align: middle;

}

.nav-protector {

  width: 100%;
  height: 75px;

}

.main {

  padding: 15px 30px 15px 30px;
  transition: margin-left .5s;
  -webkit-transition: margin-left .5s;

}

.title {

  color: #5f6368;
  font-weight: 500;
  font-size: 25px;

}

a {

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #1a73e8;

}

.button {

  font-size: 14px;
  line-height: 32.4px;
  font-weight: 600;
  border-radius: 4px !important;
  text-align: center;
  letter-spacing: .5px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: #1a73e8;
  border: none;
  padding: 0 16px;
  margin: 5px 1px 5px 1px;
  cursor: pointer;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;

}

.button:hover {

  background-color: rgba(26, 115, 232, 0.07);
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;

}

.button.waves-effect {

  border-radius: 4px !important;

}

.button.primary {

  background-color: #1a73e8;
  color: #fff;

}

.button.success {

  background-color: #64dd17;
  color: #fff;

}

.button.warning {

  background-color: #ffab00;
  color: #fff;

}

.button.error {

  background-color: #dd2c00;
  color: #fff;

}

.button.primary:hover {

  background-color: #287ae6;
  box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
  -webkit-box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);

}

.button.success:hover {

  background-color: #83e345;
  box-shadow: 0 1px 1px 0 rgba(131, 227, 69, 0.45), 0 1px 3px 1px rgba(131, 227, 69, 0.3);
  -webkit-box-shadow: 0 1px 1px 0 rgba(131, 227, 69, 0.45), 0 1px 3px 1px rgba(131, 227, 69, 0.3);

}

.button.warning:hover {

  background-color: #ffbb33;
  box-shadow: 0 1px 1px 0 rgba(255, 187, 51, 0.45), 0 1px 3px 1px rgba(255, 187, 51, 0.3);
  -webkit-box-shadow: 0 1px 1px 0 rgba(255, 187, 51, 0.45), 0 1px 3px 1px rgba(255, 187, 51, 0.3);

}

.button.error:hover {

  background-color: #e35633;
  box-shadow: 0 1px 1px 0 rgba(227, 86, 51, 0.45), 0 1px 3px 1px rgba(227, 86, 51, 0.3);
  -webkit-box-shadow: 0 1px 1px 0 rgba(227, 86, 51, 0.45), 0 1px 3px 1px rgba(227, 86, 51, 0.3);

}

.waves-effect.waves-light-blue .waves-ripple {

  background-color: rgba(26, 115, 232, 0.34);

}
